    <div class="nav justify-content-center my-5">
        <a href="/archives/landscapes/" class="btn btn-outline-secondary mb-1 me-2">Landscapes</a>
        <a href="/archives/other/" class="btn btn-outline-secondary mb-1 me-2">Animals</a>
        <a href="/archives/dogs/" class="btn btn-outline-secondary mb-1 me-2">Dogs</a>
        <a href="/archives/horses/" class="btn btn-outline-secondary mb-1 me-2">Horses</a>
        <a href="/archives/people/" class="btn btn-outline-secondary mb-1 me-2">People</a>    
    </div>