    <nav class="nav justify-content-center my-5">
        <a href="/blog/featured/" class="btn btn-outline-secondary mb-1 me-2">Featured Posts</a>
        <a href="/blog/palette/" class="btn btn-outline-secondary mb-1 me-2">Colors and Palette</a>
        <a href="/blog/tips/" class="btn btn-outline-secondary mb-1 me-2">Painting Tips</a>
        <a href="/blog/archive/" class="btn btn-outline-secondary mb-1 me-2">List All Articles</a>
    </nav>