<hr class="half-rule" />
<div class="footer">
    <div class="row">
        <div class="customer-service col-12">
            <div class="footer-disclaimer">
                Content and images copyright ©2026 Simon Bland. All rights reserved.
            </div>
        </div>
    </div>
</div>