<hr class="half-rule" />
<div class="footer">
    <div class="row">
        <div class="list-unstyled col-4">
        </div>
        <div class="list-unstyled col-4">
            <li><a class="list-group-item list-group-item-action" href="/home/ai/">AI Policy</a></li>
            <li><a class="list-group-item list-group-item-action" href="/home/privacy/">Privacy</a></li>
            <li><a class="list-group-item list-group-item-action" href="/home/shipping-returns/">Shipping and Returns</a></li>
        </div>
        <div class="list-group col 4">
                <p><small>Content and images copyright ©2026 Simon Bland.</small></p>
        </div>
    </div>
</div>