<header>
  <h1 class="instance-name">Art by Simon Bland</h1>
  <div class = "row">
    <div class = "col-sm-1">
    </div>
    <div class = "col-sm-10">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/about/">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/archives/">Archives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blog/">Blog</a>
    </li>
</ul>
    </div>
    <div class = "col-sm-1">
    </div>
</div>
</header>
